
table {
    border-collapse: collapse; /* Une las líneas de la tabla */
    width: 60%;
}

 

th, td {
    border: 1px solid black; /* Líneas de la tabla */
    padding: 8px;
    text-align: center;
}

 

th {
    background-color: #4CAF50; /* Color del encabezado */
    color: white;
}
 

body {
    font-family: Arial;
    margin: 0;
}

 

/* MENÚ */
nav {
    background-color: #333;
    padding: 15px;
    text-align: center;
}

 

nav a {
    color: white;
    text-decoration: none;
    background-color: #4CAF50;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

 

/* DIVS */
div {
    padding: 60px;
    margin: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
}


